html, body {
    font-family: serif;
}
section {
    background-image: url(/images/slice.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    text-align: center;
}
h1 {
    text-align: center;
}
#toggleFood {
    display: none;
    text-align: center;
}
#toggleCustomer {
    display: none;
    text-align: center;
}
#toggleDelivery {
    display: none;
    text-align: center;
}
#services {
    text-align: center;
    font-size: 75%;
}
#card1, #card2,
#card3 {
    size: contain;
}
#order {
    background-image: url(/images/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}